@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --header-text: #8b542f;
  --light-text: #fff;
  --muted-text:#919191;
  --accent-color: #faaf18;
  --muted-accent: #fbe6d6;
  --btn-color: #ed7801;
  --nav-bg: #2d2d2d;
  --body-text: #502314;
}


body {
  background-image: url(https://bkdelivery.co.id/static/website/img/BK_bg.jpg?5218847fa211);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
}

main{
  max-width: 960px;
  width: 100%;
  padding-top: 72px;
  
  @media screen and (min-width: 1024px) {
    padding-top: 100px;
  }
}
